<%- include('templates/header.ejs') %> <%- include('./navbar.ejs') %>
<div class="show">
	<div class="single-connection container">
		<h3>Connection Name: <%= connection.connectionName %></h3>
		<p>
			Connection Type:
			<span class="planType <%= connection.connectionType %>"
				><%= connection.connectionType.toUpperCase() %></span
			>
		</p>
		<p>Connection issued from account <%= currentUser.username %></p>
		<p>Connection Owned by <%= connection.firstName %> <%= connection.lastName %></p>
		<p>Connection Address: <%= connection.address %></p>
		<p>Owner phone number: <%= connection.mobileNumber %></p>
	</div>
</div>
<%- include('templates/footer.ejs') %>
